<div class="login_background">
  <div class="login_form">
    <form action="">
      <div class="title">
        <img src="../../../assets/images/login_title.png" alt="用户登录">
      </div>
      <table>
        <tr>
          <td class="msg">学号/身份证</td>
        </tr>
        <tr>
          <td><input type="text" [value]="userInfo.no"></td>
        </tr>
        <tr>
          <td class="msg">
            <div>
              <div class="pwd_msg">密码</div>
              <div class="forget_msg"><a href="">忘记密码？</a></div>
            </div>

          </td>
        </tr>
        <tr>
          <td><input type="password" [value]="userInfo.password"></td>
        </tr>
        <tr>
          <td class="msg">验证码</td>
        </tr>
        <tr>
          <td>
            <input type="text" class="code_input" [value]="userInfo.code">
            <img [src]="codeImg" class="code_image" title="看不清？点击更换！" alt="加载失败！">
          </td>
        </tr>
        <tr>
          <td><img src="../../../assets/images/login_button.png" class="login_button" alt="登录"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
